dist: focal
language: node_js
sudo: required

env:
  global:
    - SPG='{"database":"sedentary","password":"postgres","user":"postgres"}'
  matrix:
    - PG_VERSION=18
    - PG_VERSION=17
    - PG_VERSION=16
    - PG_VERSION=15
    - PG_VERSION=14

node_js:
  - "24"
  - "22"
  - "20"

before_install:
  - sudo service postgresql stop
  - sudo service postgresql restart $PG_VERSION

before_script:
  - psql -c "CREATE DATABASE sedentary;" -U postgres
  - psql -c "ALTER DATABASE sedentary SET timezone TO 'GMT';" -U postgres

script:
  - |
    if [[ `node --version` =~ ^v24 && $PG_VERSION == 18 ]] ; then
      yarn coverage
    else
      yarn test
    fi

after_success:
  - |
    if [[ `node --version` =~ ^v24 && $PG_VERSION == 18 ]] ; then
      curl https://qlty.sh | sh
      ~/.qlty/bin/qlty coverage publish coverage/lcov.info --override-branch $TRAVIS_BRANCH
    fi
